$console: #808082;
$lightConsole: #a3a3a3;
$linkConsole: #1485d0;
$gray: #212528;
$darkGray: #1e1e1e;
$mediumGray: #464a4d;
$blue: #1070ca;
$lightBlue: #4da8ff;
$lighterBlue: #dbeaf7;
$text: #425a70;
$textDark: #234361;

$tablet: 768px;
$desktop: 960px;