@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hero__image {
  width: 150px;
}
