@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto Mono', monospace;

@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  color: $text;
}